{% extends 'base.html' %}
{% block content %}


<div class="container mt-5">
    <h1><b>PROFILE</b></h1>
    <hr>
    <div class="mt-5 mb-5 text-center">
        <img src="{{ user.getpic }}" height="400px">
    </div> 

    <div class="mt-4 mb-4 input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">USERNAME</span>
        <input value="{{user.username}}" disabled type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>        
    <div class="mt-4 mb-4 input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">NICKNAME</span>
        <input value="{{user.nickname}}" disabled type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>
    <div class="mt-4 mb-4 input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">COMMENT</span>
        <textarea disabled class="form-control">{{user.comment}}</textarea>
    </div>
    <div class="text-end">
        <a href="{% url 'acc:update' %}"><button type="submit" class="btn btn-outline-secondary">프로필 수정</button></a>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#d11d1">
            계정삭제
        </button>
        <!-- Modal -->
        <div class="modal fade" id="d11d1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ㄹㅇ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                <h4> <b>정말 삭제하시겠습니까?</b></h4>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <a href="{% url 'acc:delete' %}"><button class="btn btn-danger">삭제</button></a>
                </div>
            </div>
            </div>
        </div>
            </div>

</div>

{% endblock %}