{% extends 'base.html' %}
{%load mathfilters%}
{% block content %}

<div class="container mt-5 mb-5">

    <h1><b>{{ to.subject }}</b></h1>
    <div class="text-end">
        {{ to.writer }}
    </div>
    
    <textarea class="form-control" disabled style="height: 200px; font-size: 25px; font-weight: bold;">{{ to.content }}</textarea>
    
    <hr>

    
    {% if user in to.voter.all %}
    <div class="row">
        {% for i in clist %}
            <div class="col-lg-4 mt-4 text-center">
                <div class="form-check mb-3">
                    <label class="form-check-label" for="flexRadioDefault1">
                        <h4><b>{{ i.name }}</b></h4>
                    </label>
                </div>
                <img src="{{ i.pic.url }}" width="100%">
                <div class="progress mt-2">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width:{{i.choicer.count|div:to.voter.count|mul:100}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{i.choicer.count|div:to.voter.count|mul:100}}%</div>
                </div>
                <textarea disabled class="form-control mt-3" style="resize: none; font-size: 20px; font-weight: bold;">{{ i.comment }}</textarea>
            </div>
        {% endfor %}
        <a href="{% url 'vote:cancel' to.id %}"><button class="btn btn-danger mt-3">CANCEL</button></a>
            <div>
                <button type="button" class="btn btn-warning mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">북마크추가</button>
            </div>
        </div>
    
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <form method="post" action="{% url 'book:create' %}">
            {%csrf_token%}
            <div class="modal-body">
            북마크 추가하고싶으면 별
                <br>
                <textarea name="comment" class="form-control" placeholder="페이지 메모"></textarea>
                <br>
                <div class="text-end">
                    <input name="inpo" type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btn-check-outlined">☆</label><br>
                    <input type="hidden" name="name" value="[VOTE]{{to.subject}}">
                    <input type="hidden" name="url" value="{{request.path}}">
                </div>
            </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">안할래요</button>
                <button class="btn btn-primary">저장할래</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    {% else %}
    <form method="post" action="{% url 'vote:vote' to.id %}">
        <div class="row">
                {% csrf_token %}
                {% for i in clist %}
                    <div class="col-lg-4 mt-4 text-center">
                        <div class="form-check mb-3">
                            <input class="form-check-input" {% if forloop.first %}checked{% endif %} type="radio" name="choice" value="{{ i.id }}" id="flexRadioDefault{{i.id}}">
                            <label class="form-check-label" for="flexRadioDefault{{i.id}}">
                                <h4><b>{{ i.name }}</b></h4>
                            </label>
                        </div>
                        <img src="{{ i.pic.url }}" width="100%">

                        
                        
                          <textarea disabled class="form-control mt-3" style="resize: none; font-size: 20px; font-weight: bold;">{{ i.comment }}</textarea>
                    </div>
                {% endfor %}
            </div>
            <div class="text-end mt-4">
                <button class="btn btn-primary">VOTE</button>
            </div>
        </div>
    </form>
    {% endif %}
    



{% endblock %}